@(form: Form[org.iatoki.judgels.sandalphon.forms.bundle.item.ItemStatementConfForm], target: play.api.mvc.Call, submitLabel: String)

@import play.i18n.Messages
@import org.iatoki.judgels.play.views.html.formErrorView

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@formErrorView(form)

<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/ckeditor.js")"></script>

@b3.form(target) {

    @helper.CSRF.formField

    @b3.text(form("meta"), '_label -> Messages.get("problem.bundle.item.meta"))
    @b3.textarea(form("statement"), '_label -> Messages.get("problem.bundle.item.statement.statement"), 'class -> "ckeditor")

    @b3.submit('class -> "btn btn-primary") { @submitLabel }
}
