@(form: Form[org.iatoki.judgels.sandalphon.forms.bundle.item.ItemMultipleChoiceConfForm], target: play.api.mvc.Call, submitLabel: String)

@import play.i18n.Messages
@import org.iatoki.judgels.commons.views.html.formErrorView

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@formErrorView(form)

<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/ckeditor.js")"></script>

<script type="text/javascript">
    require(["jquery"], function( __jquery__ ) {
        $(document).ready(function() {
            var choiceTemplate = $('#choice-template');
            var choices = [];
            var newChoiceAddButton = $('#choice-add');

            function addNewChoice() {
                var choiceNo = choices.length;

                var container = choiceTemplate.clone().removeAttr('id');
                var removeButton = container.find('a').first();
                var content = container.find('input[type="text"]');
                content.prop('name', 'choiceContents[' + choiceNo + ']');
                var checkBox = container.find('input[type="checkbox"]');
                checkBox.prop('name', 'isCorrects[' + choiceNo + ']');

                var choice =  {
                    container: container,
                    content: content,
                    checkBox: checkBox,
                    removeButton: removeButton
                };
                choices.push(choice);

                refreshChoice(choice, choiceNo);

                container.insertBefore(newChoiceAddButton.parent().parent());
                container.show();
            }

            function refreshChoice(choice, choiceNo) {
                choice.content.prop('name', 'choiceContents[' + choiceNo + ']');
                choice.checkBox.prop('name', 'isCorrects[' + choiceNo + ']');

                choice.removeButton.off('click').on('click', function(e) {
                    e.preventDefault();
                    removeChoice(choiceNo);
                    return false;
                });

            }

            function removeChoice(choiceNo) {
                var choice = choices[choiceNo];
                choice.container.remove();
                choices.splice(choiceNo, 1);

                for (var i = choiceNo; i < choices.length; i++) {
                    refreshChoice(choices[i], i);
                    console.log(i);
                }
            }

            newChoiceAddButton.on('click', function(e) {
                e.preventDefault();
                addNewChoice();
            });

            function fillChoice(choiceNo, content, isCorrect) {
                choices[choiceNo].content.val(content);
                if (isCorrect) {
                    choices[choiceNo].checkBox.attr("checked", "checked");
                }
            }

            @for(i <- 0 until form.get.choiceContents.size) {
                addNewChoice();
                fillChoice(@i, '@form.get.choiceContents.get(i)', @form.get.isCorrects.get(i));
            }

        });
    });
</script>


@b3.form(target) {

    @helper.CSRF.formField

    @b3.text(form("meta"), '_label -> Messages.get("problem.bundle.item.meta"))
    @b3.textarea(form("statement"), '_label -> Messages.get("problem.bundle.item.multipleChoice.statement"), 'class -> "ckeditor")
    @b3.text(form("score"), '_label -> Messages.get("problem.bundle.item.multipleChoice.score"))
    @b3.text(form("penalty"), '_label -> Messages.get("problem.bundle.item.multipleChoice.penalty"))

    <div class="row">
        <div class="col-md-2">
            <label class="control-label">@Messages.get("problem.bundle.item.multipleChoice.choices")</label>
        </div>

        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>@Messages.get("problem.bundle.item.multipleChoice.content")</th>
                                <th>@Messages.get("problem.bundle.item.multipleChoice.isCorrect")</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="choices-data">
                            <tr class="active">
                                <td class="text-center">
                                    <a id="choice-add" href="#" class="btn btn-primary">@Messages.get("problem.bundle.item.multipleChoice.addChoice")</a>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    @b3.submit('class -> "btn btn-primary") { @submitLabel }
}

<table class="hidden">
    <tr id="choice-template">
        <td>
            <input class="form-control input-sm" type="text" />
        </td>
        <td>
            <input class="form-control input-sm" type="checkbox" />
        </td>
        <td class="text-center">
            <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
        </td>
    </tr>
</table>