@(lessonForm: Form[org.iatoki.judgels.sandalphon.forms.LessonPartnerUpsertForm], lesson: org.iatoki.judgels.sandalphon.Lesson, lessonPartner: org.iatoki.judgels.sandalphon.LessonPartner)

@import org.iatoki.judgels.sandalphon.controllers.routes
@import scala.collection.JavaConverters._
@import play.i18n.Messages

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-6", "col-md-6") }

@b3.form(routes.LessonPartnerController.postUpdatePartner(lesson.getId, lessonPartner.getId)) {
  @helper.CSRF.formField

  @upsertPartnerView(lessonForm)

  @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.update") }
}