@(form: Form[org.iatoki.judgels.sandalphon.forms.LessonPartnerUpsertForm])(implicit fieldConstructor: b3.B3FieldConstructor)

@import play.i18n.Messages

@b3.checkbox(form("isAllowedToUpdateLesson"), '_label -> Messages.get("lesson.partner.isAllowedToUpdateLesson"))
@b3.checkbox(form("isAllowedToUpdateStatement"), '_label -> Messages.get("lesson.partner.isAllowedToUpdateStatement"))
@b3.checkbox(form("isAllowedToUploadStatementResources"), '_label -> Messages.get("lesson.partner.isAllowedToUploadStatementResources"))
@b3.text(form("allowedStatementLanguagesToView"), '_label -> Messages.get("lesson.partner.allowedStatementLanguagesToView"), '_help -> Messages.get("problem.partner.leaveAllowAll"))
@b3.text(form("allowedStatementLanguagesToUpdate"), '_label -> Messages.get("lesson.partner.allowedStatementLanguagesToUpdate"), '_help -> Messages.get("problem.partner.leaveAllowAll"))
@b3.checkbox(form("isAllowedToManageStatementLanguages"), '_label -> Messages.get("lesson.partner.isAllowedToManageStatementLanguages"))

@b3.checkbox(form("isAllowedToViewVersionHistory"), '_label -> Messages.get("lesson.partner.isAllowedToViewVersionHistory"))
@b3.checkbox(form("isAllowedToRestoreVersionHistory"), '_label -> Messages.get("lesson.partner.isAllowedToRestoreVersionHistory"))

@b3.checkbox(form("isAllowedToManageLessonClients"), '_label -> Messages.get("lesson.partner.isAllowedToManageLessonClients"))
