@import play.i18n.Messages
@import org.iatoki.judgels.play.views.html.formErrorView
@import org.iatoki.judgels.sandalphon.controllers.routes
@import org.iatoki.judgels.sandalphon.forms.LessonEditForm
@import org.iatoki.judgels.sandalphon.Lesson

@(lessonEditForm: Form[LessonEditForm], lesson: Lesson)

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

@formErrorView(lessonEditForm)

@b3.form(routes.LessonController.postEditLesson(lesson.getId)) {

    @helper.CSRF.formField

    @b3.text(lessonEditForm("slug"), '_label -> Messages.get("lesson.slug"))

    @b3.textarea(lessonEditForm("additionalNote"), '_label -> Messages.get("lesson.additionalNote"))

    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.update") }
}
