@(lesson: org.iatoki.judgels.sandalphon.Lesson)

@import play.i18n.Messages
@import org.iatoki.judgels.sandalphon.JidCacheService
@import org.iatoki.judgels.commons.JudgelsUtils

<table class="table">
    <tbody>
        <tr>
            <td>@Messages.get("commons.id")</td><td>@lesson.getId</td>
        </tr>
        <tr>
            <td>@Messages.get("commons.jid")</td><td>@lesson.getJid</td>
        </tr>
        <tr>
            <td>@Messages.get("problem.name")</td><td>@lesson.getName</td>
        </tr>
        <tr>
            <td>@Messages.get("problem.author")</td><td>@JidCacheService.getInstance().getDisplayName(lesson.getAuthorJid)</td>
        </tr>
        <tr>
            <td>@Messages.get("problem.additionalNote")</td><td>@Html(JudgelsUtils.escapeHtmlString(lesson.getAdditionalNote))</td>
        </tr>
    </tbody>
</table>
