@(form: Form[org.iatoki.judgels.sandalphon.forms.ProblemPartnerUsernameForm])(implicit fieldConstructor: b3.B3FieldConstructor)

@import play.i18n.Messages
@import org.iatoki.judgels.jophiel.commons.JophielUtils

<script type="text/javascript">
    var jophielAutoCompleteUrl = "@JophielUtils.getAutoCompleteEndPoint";
    var encodedAccessToken = "@JophielUtils.getEncodedAccessToken";
</script>

<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/userAutoComplete.js")"></script>

@b3.text(form("username"), '_label -> Messages.get("problem.partner.username"), 'class -> "form-control user_autocomplete")
