@(form: Form[org.iatoki.judgels.sandalphon.forms.UpdateStatementForm], lessonId: Long)

@import play.i18n.Messages
@import b3.vertical.fieldConstructor
@import org.iatoki.judgels.sandalphon.controllers.routes

@*<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/ckeditor.js")"></script>*@

<small>
To insert image, add the image as a media file and then insert it as "render/&lt;imageFilename&gt;".
</small>
@b3.form(routes.LessonStatementController.postUpdateStatement(lessonId)) {
    @helper.CSRF.formField

    <div class="form-group">
        <textarea class="ckeditor form-control" name="statement">@form("statement").value</textarea>
    </div>

    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.update") }
}
