@(page: org.iatoki.judgels.commons.Page[org.iatoki.judgels.sandalphon.programming.ProblemSubmission], problemId: Long, pageIndex: Long, orderBy: String, orderDir: String)

@import play.i18n.Messages
@import org.iatoki.judgels.commons.views.html.table.tableView
@import org.iatoki.judgels.commons.views.html.table.tableHeadersView
@import org.iatoki.judgels.commons.views.html.table.paginationView

@import org.iatoki.judgels.sandalphon.controllers.routes
@import org.iatoki.judgels.commons.JudgelsUtils
@import org.iatoki.judgels.sandalphon.JidCacheService

<div class="clearfix"></div>

@listFunc(newPageIndex: scala.Long, newOrderBy: String, newOrderDir: String, newFilterString: String) = @{routes.ProgrammingProblemController.viewSubmissions(problemId, newPageIndex, newOrderBy, newOrderDir)}

@tableView() {
    @tableHeadersView(page.getPageIndex, orderBy, orderDir, "", listFunc)(
        "id" -> Messages.get("commons.id"),
        "userCreate" -> Messages.get("programming.author"),
        "timeCreate" -> Messages.get("programming.time"),
        "gradingLanguage" -> Messages.get("programming.gradingLanguage"),
        "verdictName" -> Messages.get("programming.verdict"),
        "score" -> Messages.get("programming.score")
    )
    <tbody>

    @for(submission <- page.getData) {
        <tr>
            <td>@submission.getId</td>
            <td>@JidCacheService.getInstance().getDisplayName(submission.getAuthorJid)</td>
            <td>@JudgelsUtils.timestampToFormattedDate(submission.getTimestamp)</td>
            <td>@submission.getGradingLanguage</td>
            <td>@submission.getVerdict.getName</td>
            <td>@submission.getScore</td>
            <td class="text-center">
                <a href="@routes.ProgrammingProblemController.viewSubmission(problemId, submission.getId)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
            </td>
        </tr>
    }
    </tbody>
}

@paginationView(page, orderBy, orderDir, "", listFunc)