@(problem: org.iatoki.judgels.sandalphon.programming.Problem)

@import play.i18n.Messages
@import org.iatoki.judgels.sandalphon.JidCacheService
@import org.iatoki.judgels.commons.JudgelsUtils

<table class="table">
    <tbody>
        <tr>
            <td>@Messages.get("commons.id")</td><td>@problem.getId</td>
        </tr>
        <tr>
            <td>@Messages.get("commons.jid")</td><td>@problem.getJid</td>
        </tr>
        <tr>
            <td>@Messages.get("programming.problem.name")</td><td>@problem.getName</td>
        </tr>
        <tr>
            <td>@Messages.get("programming.problem.author")</td><td>@JidCacheService.getInstance().getDisplayName(problem.getAuthorJid)</td>
        </tr>
        <tr>
            <td>@Messages.get("programming.problem.gradingEngine")</td><td>@problem.getGradingEngine</td>
        </tr>
        <tr>
            <td>@Messages.get("programming.problem.additionalNote")</td><td>@Html(JudgelsUtils.escapeHtmlString(problem.getAdditionalNote))</td>
        </tr>
    </tbody>
</table>
