@(problem: org.iatoki.judgels.sandalphon.programming.Problem, clientProblem: org.iatoki.judgels.sandalphon.ClientProblem)

@import play.i18n.Messages

<table class="table">
    <tbody>
        <tr>
            <td>@Messages.get("programming.client.name")</td><td>@clientProblem.getClientName</td>
        </tr>
        <tr>
            <td>@Messages.get("programming.problem.jid")</td><td>@problem.getJid</td>
        </tr>
        <tr>
            <td>@Messages.get("programming.problem.secret")</td><td>@clientProblem.getSecret</td>
        </tr>
    </tbody>
</table>
