@import org.iatoki.judgels.FileInfo
@(form: Form[org.iatoki.judgels.sandalphon.forms.UploadFileForm], problemId: Long, helperFiles: List[FileInfo])

@import play.i18n.Messages
@import org.iatoki.judgels.sandalphon.controllers.routes
@import org.iatoki.judgels.play.JudgelsUtils

<h3>@Messages.get("problem.file.uploadNew")</h3>

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@b3.form(routes.ProgrammingProblemGradingController.postUploadGradingHelperFiles(problemId), 'enctype->"multipart/form-data") {
    @helper.CSRF.formField

    @b3.file(form("file"), '_label -> Messages.get("problem.file.asSingleFile"))

    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.upload") }
}

@b3.form(routes.ProgrammingProblemGradingController.postUploadGradingHelperFiles(problemId), 'enctype->"multipart/form-data") {
    @helper.CSRF.formField

    @b3.file(form("fileZipped"), '_label -> Messages.get("problem.file.asZipFile"))

    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.upload") }
}

<hr />

<h3>@Messages.get("problem.file")</h3>

<table class="table table-striped table-condensed table-bordered">
    <thead>
        <tr>
            <th>@Messages.get("problem.file.filename")</th>
            <th>@Messages.get("problem.file.lastModified")</th>
            <th>@Messages.get("problem.file.size")</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
    @for(file <- helperFiles) {
        <tr>
            <td>@file.getName</td>
            <td><time class="display-time" datetime="@JudgelsUtils.formatISOUTCDateTime(file.getLastModifiedTime.getTime)">@JudgelsUtils.formatDetailedDateTime(file.getLastModifiedTime.getTime)</time></td>
            <td>@JudgelsUtils.formatBytesCount(file.getSize)</td>
            <td class="text-center"><a href="@routes.ProgrammingProblemGradingController.downloadGradingHelperFile(problemId, file.getName)"><span class="glyphicon glyphicon-download" aria-hidden="true"></span></a></td>
        </tr>
    }
    </tbody>
</table>