@(form: Form[org.iatoki.judgels.sandalphon.forms.programming.UpsertForm])

@import play.i18n.Messages
@import org.iatoki.judgels.gabriel.GradingType
@import org.iatoki.judgels.sandalphon.controllers.routes

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@b3.form(routes.ProgrammingProblemController.postCreate()) {
    @helper.CSRF.formField

    @b3.text(form("name"), '_label -> Messages.get("problem.programming.field.name"))

    @b3.select(form("gradingType"), GradingType.values().map(e => e.toString -> e.getName))

    @b3.textarea(form("note"), '_label -> Messages.get("problem.programming.field.note"))

    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.create") }
}