@(currentPage: org.iatoki.judgels.commons.Page[org.iatoki.judgels.sandalphon.programming.Problem], currentSortBy: String, currentOrder: String, currentFilter: String)

@import play.i18n.Messages
@import org.iatoki.judgels.commons.views.html.pagination.tablePagination
@import org.iatoki.judgels.commons.views.html.pagination.tableHeader
@import org.iatoki.judgels.commons.views.html.pagination.link

@import org.iatoki.judgels.sandalphon.controllers.routes

@shortLink(newPage: scala.Long, newSortBy: String) = {@link(currentSortBy, true, currentOrder, currentFilter, newPage, newSortBy, routes.ProgrammingProblemController.list)}

<form class="form form-inline pull-right" action='@routes.ProgrammingProblemController.list(currentPage.getPageIndex, "../../../../../../../../judgels-play-commons/public", "../../../../../../../../judgels-play-commons/public", "../../../../../../../../judgels-play-commons/public")' method="GET">
  <input type="hidden" name="orderBy" value="@currentOrder"/>
  <input type="hidden" name="sortBy" value="@currentSortBy"/>
  <div class="form-group">
    <input type="search" class="form-control input-sm" name="filterString" value="@currentFilter">
  </div>
  <button type="submit" class="btn btn-primary btn-sm">@Messages.get("commons.search")</button>
</form>

<div class="clearfix"></div>

<div class="table-responsive">
  <table class="table table-hover table-condensed">
    <thead>
    <tr>
      @tableHeader("id", Messages.get("commons.field.id"), currentSortBy, currentOrder, shortLink(currentPage.getPageIndex(), "id"))
      @tableHeader("name", Messages.get("problem.programming.field.name"), currentSortBy, currentOrder, shortLink(currentPage.getPageIndex(), "name"))
      <th></th>
    </tr>
    </thead>
    <tbody>
    @for(page <- currentPage.getList()) {
      <tr>
        <td>@page.getId</td>
        <td>@page.getName</td>
        <td class="text-center">
          <a href="@routes.ProgrammingProblemController.view(page.getId)"><span class="glyphicon glyphicon-log-in"></span></a>
        </td>
      </tr>
    }
    </tbody>
  </table>
</div>

@tablePagination(currentPage, currentSortBy, currentOrder, currentFilter, routes.ProgrammingProblemController.list)