@(form: Form[org.iatoki.judgels.sandalphon.forms.programming.UpdateGradingForm], id: Long, filenames: List[String])

@import play.i18n.Messages
@import org.iatoki.judgels.sandalphon.controllers.routes

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

<script type="text/javascript" src="@controllers.routes.Assets.at("lib/jquery/jquery.min.js")"></script>

@b3.form(routes.ProgrammingProblemController.postUpdateGrading(id)) {
    @helper.CSRF.formField

    @b3.inputWrapped("timeLimit", form("timeLimit"), '_label -> "Time Limit") { input =>
        <div class="input-group">
            @input
            <div class="input-group-addon">milliseconds</div>
        </div>
    }
    @b3.inputWrapped("memoryLimit", form("memoryLimit"), '_label -> "Memory Limit") { input =>
        <div class="input-group">
            @input
            <div class="input-group-addon">kilobytes</div>
        </div>
    }

    <div class="row">

        <div class="col-md-3">
            <label class="control-label">Test Data</label>
        </div>

        <div class="col-md-9">
            @for(i <- 1 to 2) {
                <div id="test-set-template" class="panel panel-default">
                    <div class="panel-heading">
                    Test Set 0 <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
                    <div class="panel-body">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <td>Input</td>
                                    <td>Output</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                @for(j <- 1 to 10) {
                                    <tr id="tc-template">
                                        <td>
                                            <input class="form-control input-sm" type="text" name="sdf" readonly="readonly" value="jagoparah_1_1.in" />
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="sdf" readonly="readonly" value="jagoparah_1_1.in" />
                                        </td>
                                        <td class="text-center">
                                            <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                                        </td>
                                    </tr>
                                }

                            <tr class="active">
                                <td>
                                    <select>
                                        <option value="1.in">jagoparah_1_1.in</option>
                                        <option value="1.in">jagoparah_1_2.in</option>
                                    </select>
                                </td>
                                <td>
                                    <select>
                                        <option value="1.in">jagoparah_1_1.in</option>
                                        <option value="1.in">jagoparah_1_2.in</option>
                                    </select>
                                </td>
                                <td class="text-center">
                                    <a href="#"><span class="glyphicon glyphicon-plus"></span></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <hr />


                        <p>Assign to subtasks:</p>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="inlineCheckbox1" value="option1"> 1
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="inlineCheckbox1" value="option1"> 2
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="inlineCheckbox1" value="option1"> 3
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="inlineCheckbox1" value="option1"> 1
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="inlineCheckbox1" value="option1"> 2
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="inlineCheckbox1" value="option1"> 3
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="inlineCheckbox1" value="option1"> 1
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="inlineCheckbox1" value="option1"> 2
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="inlineCheckbox1" value="option1"> 3
                        </label>
                    </div>
                </div>


            }

            <button id="set-add" class="btn btn-primary btn-xs" type="button">Add Test Set</button>
        </div>
    </div>


    <div class="row">
        <div class="col-md-3">
            <label class="control-label">Subtask Values</label>
        </div>

        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Subtask</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Sample
                                </td>
                                <td>
                                    <input class="form-control input-sm" type="text" name="subtaskPoints[0]"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    <input class="form-control input-sm" type="text" name="subtaskPoints[0]"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2
                                </td>
                                <td>
                                    <input class="form-control input-sm" type="text" name="subtaskPoints[0]"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>


    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.update") }
}